.card {
    background: #fff;
    height: 250px;
    margin: 1rem;
    position: relative;
    width: 250px;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
  }
  .card > .img-container > img {
    width: 100%;
    height: auto;
    background-size: cover;
    overflow: hidden;
  }
  
  
  
  
  
  
  